*{
    text-transform:capitalize;
    margin:0px;
    padding:0px;
    box-sizing: border-box;

}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;;
    color: #333;
    line-height:1.6;
}
header{
    background-color: #333;
    color: white;
     padding:20px;
     text-align:center;
}
header h1{
    margin:0px;
    font-size:2.5rem;
}
 
 

.movie-tickets{
    background-color: #ffffff;
    padding:40px;
    text-align:center;
}
.movie-tickets h2{
    margin-bottom:30px;
    font-size:35px;
    color:#333;
}
.movie-selection{
    display:flex;
    justify-content:center;
    gap: 20px;
}
.movie{
   background-color:#eee;
   padding:10px;
   text-align:center;
   border-radius:6px;
   width:250px;
}
.movie img{
    height:auto;
    width:100%;
    border-radius:6px;
}
.movie button{
    padding: 10px 20px ;
    background-color: #333;
    color:white;
    border:none;
    cursor:pointer;
    border-radius:6px;
}
.movie button:hover{
    background-color: #505050;
}
.prashu{
    background-color: #ffff;
    padding:40px 0px;
    text-align: center;
}
.prashu h2{
    margin-bottom:30px;
    color:#333;
    font-size:30px;
    text-align:center;
}
form{
    display: grid;
    max-width:500px;
    margin:auto;
    background-color: #f4f4f4;
    border-radius: 6px;
    padding:20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
form lable{
    text-align:left;
    font-size: 1rem;
    margin:5px;

}
form input,
form select{
     padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem; 
}
form button{
    padding:10px;
    background-color: #333;
    color:white;
    border-radius: 5px;
    margin-top:5px;
    cursor:pointer;
    font-size: 1rem;
}
form button:hover{
    background-color: #666565;
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding:10px ;
}
footer p{
    font-size:0.9rem;
}
@media (max-width: 768px) {
    .movies {
        flex-direction: column;
    }

    form {
        width: 90%;
    }
}
.container{
    width:80%;
    margin: 0px auto;
}
.p{
    padding-top: 112px;
}
.pp{
    padding-top: 64px;
}